* {
  box-sizing: border-box;
  color: white;
  font-family: 'Indie Flower';
  letter-spacing: 10px;
}
body {
  height: 80vh;
  margin: 0;
  background-color: black;
}

h1 {
  text-align: left;
  margin: 0 0 0 50px;
}

.startwrapper {
  display: flex;
  justify-content: space-around;
}
button {
  height: 50px;
  width: 150px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}
.start-button {
  background-color: black;
  border: green 1px solid;
  color: green;
}
.restart-button {
  background-color:black;
  border: red;
  color: red;
  border: 1px red solid;
}

.start-button:hover {
  background-color: green;
  color: black;
}
.restart-button:hover {
  background-color: red;
  color: black;
}

.keybinds {
  letter-spacing: 5px;
}
.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  border: green solid 5px;
  background-image: url('https://garden.spoonflower.com/c/5542349/p/f/m/It0lEQNANvXXWt8TwFFcPj-94_Nfuu0oPxNmaNcLN9szWN_IcHzuFA/5542349-brick-block-by-periwinkleinstitches.jpg');
  margin: 50px;
}

.grid div {
  height: 10%;
  width: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  
}

.grid-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;

}

.grid div.ship {
  background-image: url(/images/mario.png);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
}

.grid div.alien {
  background-image: url(/images/bowser-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: fill;
}

.grid div.laser {
background-image: url(/images/fireball-removebg-preview.png);
background-size: contain;
background-repeat: no-repeat;
}

.grid div.explosion {
background-image: url(/images/pow-removebg-preview.png);
}

.grid div.bomb {
background-image: url(/images/dd7oz63-c454d3e6-db3f-473a-a9a4-12c80d73ad39-removebg-preview.png);
}