* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
}
.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 300px;
  width: 600px;
}

.grid div {
  border: 1px solid navy;
  height: 20%;
  width: 11.11%;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid div.ship {
  background-image: url('https://www.pngitem.com/pimgs/m/501-5011901_space-invaders-ship-transparent-hd-png-download.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.edges {
  background-color: red;
}

.grid div.alien {
  background-color: green;
}

.grid div.laser {
  background-color: blue;
}

.grid div.explosion {
  background-color: aqua;
}